
body{
  display: contents;
}

.navbar {
  position: fixed;
  top: 0;
  width: 97.8%;
  padding: 6px 25px;
  z-index: 10;
  background-color: #181818;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  margin-right: 30px;
  text-decoration: none;
  font-family:  Zalando Sans Expanded, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  

}
.hero-content {
  position: relative;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Zalando Sans Expanded, sans-serif;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 1240px;
}
.hero {
  position: relative;
  height: 100vh;
  background-image: url("https://cdn.ferrari.com/cms/network/media/img/resize/6938587663747a0020d08287-2025-scuderia-ferrari-abu-dhabi-test-home1?width=1920");
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.9)
  );
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.3)
  );
}
.img img{
  width: 18px;
  background-image: url("https://companieslogo.com/img/orig/RACE.D-a40e5994.png?t=1720244493");
  padding-right: 44px;
  padding-left: 0px;
}
.btn{
  color: aliceblue;
  text-decoration: none;
}

.addicon i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 75px;
  left: 24px;
}
.textmenu{
  position: absolute;
  z-index: 10px;
}

.charles_lewis{
  width: 18px;
background-image: url();               
}

.drivers{
  display: flex;
  height: 100vh;
  
}

.driver{
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: center;
}

.charles{
  background-image: url(https://charlesleclerc.com/wp-content/uploads/2025/02/Leclerc-About-02-Official-Pic-1.jpg);
}
.lewis{
  background-image: url(https://platform.sbnation.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/26076675/2227429223.jpg?quality=90&strip=all&crop=0%2C0%2C100%2C100&w=1080);
}
.driver-content{
  bottom: 120px;
  position: absolute;
  left: 150px;
  font-family: Zalando Sans Expanded, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size:30px;zQ: 2W;
}
.driver-content a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  padding-left: 170px;
  font-size: 20px ;
}
.news{
  background: #000;
  color: #fff;
  padding:100px 100px;
  font-family:  Zalando Sans Expanded, sans-serif;
  padding-left: 150px;
  

  padding: 120px 0;
}
.img-bg{
   background-image: url("https://cdn.ferrari.com/cms/network/media/img/resize/6798defede8a5f007193ab72-ferrari%20f1%20-%20hp%20-bk-desktop?width=1920&height=0");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news-title{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 46px;
  margin-top: -81px;
  font-size: 28px;
}
.newgrid{
  display: flex;
  gap: 40px;
  margin: 180px;
  margin-top: 30px;
}
.news-card{
  width: 30.3%;
}
.news-img{
  position: relative;
  height: 220px;
  background:#111;
  
}
.news-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.news-img.light{
  background: #fff;
}
.share{
  position:absolute;
  top:20px;
  right:20px;
  font-size: 18px;
}
.news-meta{
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 2px;
  color:#d40000;
}
.news-heading{
  margin-top:12px;
  font-size: 18px;
  line-height: 1.4;
} 
.calendar {
  background: #000;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
  bottom: 246px;
}

.cal-title{
  color: #fff;
  font-family:Zalando Sans Expanded, sans-serif;
  position: relative;
  bottom: 100px;
  padding-left: 75px;
  font-size: xx-large;
}

.calendar-track {
  display: flex;
  gap: 40px;
  padding-left: 150px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;


  scrollbar-width: none;
}
.calendar-track::-webkit-scrollbar {
  display: none;
}

.race-card {
  min-width: 480px;
  height: 320px;
  position: relative;

  background: #111;
  scroll-snap-align: center;
  overflow: hidden;
}

.race-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%) brightness(0.6);
}

/* Ferrari red overlay */
.race-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(180, 0, 0, 0.35);
}

/* TEXT */
.race-date {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 2;
}

.race-card h3 {
  position: absolute;
  top: 50px;
  left: 20px;
  color: #fff;
  font-size: 22px;
  z-index: 2;
}

/* ACTIVE CARD */
.race-card.active {
  transform: scale(1.05);
}

.partners{
  margin-top: -14%;
}
.box{
  color: #000;
}

.textmenu h1{
  position: relative;
  z-index: 10;
  font-size: 18px;
  top: 44px;
  font-family: Sans Expanded, sans-serif;
  colo  r: #fff;
  left: -813px;
}
